@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.tiempo {
  @apply z-10 text-xs font-semibold uppercase tracking-wide text-slate-500;
}

.titulo {
  @apply font-medium text-base leading-tight;
}
.descripcion {
  @apply mt-2 text-sm leading-normal;
}

.tecnologia {
  @apply text-xs font-medium leading-5 text-teal-300;
}
